{
  "btcd": [
    {
      "url": "fractal:${FRACTAL_RPC_PORT}",
      "auth": "${RPC_USER}",
      "pass": "${RPC_PASSWORD}",
      "notify": true
    }
  ],
  "btcaddress": "${PAYOUT_ADDRESS}",
  "btcsig": "/ckpool mined by Wvk2017 on 5tratumOS/",
  "mindiff": 1,
  "startdiff": 16,
  "maxdiff": 0,
  "logdir": "/www",
  "webdir": "/www/pool",
  "userdir": "/www/users",
  "zmqblock": "tcp://fractal:${FRACTAL_ZMQ_HASHBLOCK_PORT}"
}
